@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 230 65% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 229 17% 62%;
    --ring: 230, 65%, 57%;
    --radius: 0.5rem;
    --brand-1000: 230 65% 57%;
    --brand-800: 230 65% 66%;
    --brand-200: 229 64% 91%;
    --brand-50: 231 64% 98%;
    --grey-900: 229 40% 17%;
    --grey-800: 230 23% 26%;
    --grey-700: 229 16% 41%;
    --grey-500: 229 17% 62%;
    --grey-100: 228 25% 92%;
    --grey-50: 228 33% 97%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --brand-1000: 230 65% 85%;
    --brand-800: 230 50% 88%;
    --brand-200: 229 11% 97%;
    --brand-50: 231 3% 99%;
    --grey-900: 229 57% 24%;
    --grey-800: 230 38% 32%;
    --grey-700: 229 27% 48%;
    --grey-500: 229 20% 68%;
    --grey-100: 228 4% 94%;
    --grey-50: 228 2% 98%;
  }
}
