@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --bg: 228 33% 97%;
    --textstrong: 229 40% 17%;
    --textweak: 229 16% 41%;
    --strokestrong: 230 23% 74%;
    --strokeweak: 228 25% 92%;
    --fill: 228 33% 97%;
    --background: 0 0% 100%;
    --foreground: 229 40% 17%;
    --card: 0 0% 100%;
    --card-foreground: 229 40% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 230 65% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 230 23% 74%;
    --ring: 230 65% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --bg: 233 18% 9%;
    --textstrong: 228 33% 97%;
    --textweak: 228 25% 92%;
    --strokestrong: 229 17% 62%;
    --strokeweak: 229 16% 41%;
    --fill: 229 40% 17%;
    --background: 230 14% 13%;
    --foreground: 0 0% 98%;
    --card: 230 14% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 237 97% 80%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 229 17% 62%;
    --ring: 240 4.9% 83.9%;
  }
}

h3{
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

h4{
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}

h5{
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  h3{
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
  }

  h4{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }

  h5{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
}



